{% extends 'base_layout.html' %} {% block content %}
<h1>Article List</h1>
<div class="articles">
  {% for article in articles %}
  <div class="article">
    <h2>
      <a href="{% url 'articles:each_list' param=article.slug %}"
        >{{ article.title }}</a
      >
    </h2>
    <!-- <p>{{ article.body|truncatewords:10 }}</p> -->
    <p>{{ article.body|truncatechars:20 }}</p>
    <p>{{ article.date }}</p>
    <p class="author">Added By {{ article.author.username }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
